:root{
    --width: min(95vw, calc(95vh * 16 / 9));
    --height: calc(min(95vw, calc(95vh * 16 / 9)) * 9 / 16);
    --border-radius: calc(min(95vw, calc(95vh * 16 / 9)) * 0.01);
    --theme-color-1: #000000;
    --theme-color-2: #333333;
    --theme-color-3: #666666;
    --theme-color-4: #AAAAAA;
    --theme-color-5: #FFFFFF;
}

@media screen and (orientation: portrait) {
    :root{
        --width: min(95vh, calc(95vw * 16 / 9));
        --height: calc(min(95vh, calc(95vw * 16 / 9)) * 9 / 16);
        --border-radius: calc(min(95vh, calc(95vw * 16 / 9)) * 0.01);
    }

    html{
        overflow-x: hidden !important;
        width: 100vh !important;
        height: 100vw !important;
        top: 100% !important;
        left: 0 !important;
        transform-origin: left top !important;
    }
}

html{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform-origin: initial;
    transition: none;
}

body{
    background-color: var(--theme-color-2);
}

*{
    color: var(--theme-color-5);
    transition: all 0.5s;
}

header{
    position: fixed;
    left: 50%;
    top: -50%;
    width: var(--width);
    height: var(--height);
    transform: translate(-50%, -50%);
    background-color: var(--theme-color-4);
    border-radius: var(--border-radius);
    z-index: 1;
}

#playButton{
    position: absolute;
    left: 50%;
    top: 70%;
    width: calc(var(--width) * 0.1);
    height: calc(var(--height) * 0.1);
    transform: translate(-50%, -50%);
    background-color: var(--theme-color-2);
    border: calc(var(--width) * 0.005) solid var(--theme-color-3);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--width) * 0.025);
}

main{
    position: fixed;
    left: 50%;
    top: 50%;
    width: var(--width);
    height: var(--height);
    transform: translate(-50%, -50%);
    background-color: var(--theme-color-3);
    border-radius: var(--border-radius);
}

#canvas{
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
}

#footerOpen, #footerClose{
    position: absolute;
    left: calc(var(--width) * 0.01);
    top: calc(var(--width) * 0.01);
    width: calc(var(--width) * 0.035);
    height: calc(var(--width) * 0.035);
    background-color: var(--theme-color-4);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--width) * 0.025);
    font-family: monospace;
}

footer{
    position: fixed;
    top: -50%;
    left: 50%;
    width: calc(var(--width) * 0.5);
    height: calc(var(--height) * 0.5);
    transform: translate(-50%, -50%);
    background-color: var(--theme-color-3);
    border-radius: var(--border-radius);
}

footer>div{
    position: absolute;
    left: 50%;
    top: 40%;
    width: 80%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer>div>*{
    display: flex;
    align-items: center;
}

#quitButton{
    position: absolute;
    left: 50%;
    top: 80%;
    width: calc(var(--width) * 0.1);
    height: calc(var(--height) * 0.1);
    transform: translate(-50%, -50%);
    background-color: var(--theme-color-2);
    border: calc(var(--width) * 0.005) solid var(--theme-color-3);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

#showNoneCheckbox, #showHeaderCheckbox, #showFooterCheckbox{
    display: none;
}

#showFooterCheckbox:checked~footer{
    top: 50%;
}

#showFooterCheckbox:checked~main{
    filter: brightness(70%);
}

#showHeaderCheckbox:checked~header{
    top: 50%;
}

input[type="range"]{
    background: transparent;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: var(--theme-color-2);
    border-radius: var(--border-radius);
    width: calc(var(--width) * 0.05);
    height: calc(var(--width) * 0.02);
}

input[type="range"]::-webkit-slider-runnable-track{
    background-color: var(--theme-color-4);;
    border-radius: var(--border-radius);
    height: calc(var(--width) * 0.02);
}
